

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html { 
    background: url(images/to_bgPic3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.container{
    max-width: 500px;
    margin: 5% auto;
}

.wrapper{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    box-shadow:  3px 3px 5px 6px rgb(169, 166, 166);
    border-radius: 5px;
}

.heading{
    width: 100%;
    background-color: rgb(0, 49, 91);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px 0 2px 0px;
    color: rgb(2, 137, 207);
}

.form_container{
    margin-top: 5px;

 
}

input[type='text']{
    padding: 10px;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
    
}

input[type='submit']{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px ;
    background-color: rgb(0, 49, 91);
    font-size: 16px;
    color: white;
    
}

input[type='submit']:hover{
    cursor: pointer;
    
}


.toDoList_wrapper{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    border-radius: 5px;
    margin: 20px;
    opacity: 1;
    transition: opacity 1s ease-out;
}


.toDoList_wrapper.remove{
    opacity: 0;

}

span{
    margin-bottom: 10px;
    font-size: 15px;
   
}

.fas{
    cursor: pointer;
    position: relative;
    top: 10px;
    font-size: 20px;
    padding: 10px;
    background: red;
    border-radius: 5px;
}
